In [1]:
import streamlit as st
import pandas as pd
import sqlite3

In [6]:
def load_data_from_sql(sql_file):
    conn = sqlite3.connect('data/telecom.sq')
    query = "SELECT * FROM xdr_data;"  # Adjust table name as per your SQL schema
    return pd.read_sql_query(query, conn)

In [7]:
telecom_data = load_data_from_sql('mydatabase.db')

OperationalError: unable to open database file